<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>

<body>
<div th:replace="~{fragments/navbar::nav}"></div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div th:object="${offer}" class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <div class="card-body pb-1">
                <h5 class="card-title" th:text="*{brand} + ' ' + *{model}"></h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span th:text="|Seller: *{seller.getUsername()}|">• Seller </span></div>
                    <div class="card-text"><span th:text="|Mileage: *{mileage}km|">• Mileage</span></div>
                    <div class="card-text"><span th:text="|Price: *{price}$|">• Price</span></div>
                    <div class="card-text"><span th:text="|Engine type: *{engine}|">• Engine type</span></div>
                    <div class="card-text"><span th:text="|Transmission type: *{transmission}|">• Transmission type</span></div>
                    <div class="card-text"><span th:text="|Manufacturing year: *{year}|">• Year</span></div>
                    <div class="card-text"><span th:text="|Description: *{description}|">• Description</span></div>
                    <div class="card-text"><span th:text="|Offer created: *{created}|">• Offer created</span></div>
                    <div class="card-text"><span th:text="|Offer modified: *{modified}|">• Offer modified</span></div>
                </li>
            </ul>
            <div class="card-body">
                <div th:if="${isOwner}" class="row">
                    <a class="btn btn-link" th:href="@{/offers/{id}/edit(id=*{id})}">Edit</a>
                    <th:block>
                        <form th:action="@{/offers/{id}(id=*{id})}" th:method="delete">
                            <input type="submit" class="btn btn-link" value="Delete"/>
                        </form>
                    </th:block>
                </div>
            </div>
        </div>
        <div th:object="${offer}" class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img class="card-img-top" th:src="*{getImageURL()}" alt="Car image">
        </div>
    </div>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <div th:each="post : ${posts}" th:object="${post}" class="card-body pb-1">
                <ul class="offer-details list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="form-group col-md-9 mb-3">
                                <div class="card-text"><span th:text="|Title: *{title}|">• Title </span></div>
                                <div class="card-text"><span th:text="|Content: *{content}|">• Content </span></div>
                                <div class="card-text"><span th:text="|Author: *{author.getUsername()}|">• author </span></div>
                            </div>
                            <div class="form-group col-md-3 mb-3">
                                <div class="card-img-wrapper">
                                    <img class="card-img-top" th:src="*{author.getImageURL()}" alt="Car image">
                                </div>
                            </div>
                        </div>
<!--                        TODO -> Place the image on the left-->
                    </li>
                </ul>
            </div>
        </div>

        <div class="offer card col-sm-2 col-md-3 col-lg-4 m-1 p-0 text-center" style="width: 200px; height: 350px;">
            <br>
            <form th:object="${newPost}" th:action="@{/posts/add}" th:method="post">
                <input type="hidden" th:field="*{offerId}" th:value="${offer.id}"/>
                <div class="form-group col-md-12 mb-3">
                    <label>Title</label>
                    <input type="text" class="form-control" th:field="*{title}" placeholder="Enter title of your comment"/>
                </div>
                <div class="form-group col-md-12 mb-3">
                    <label>Content</label>
                    <textarea class="form-control" rows="3" th:field="*{content}" placeholder="You can type whatever you want here"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add comment</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>
