<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>

<body>
<div th:replace="~{fragments/navbar::nav}"></div>

<div class="container">
    <h2 class="text-center text-white">Create model</h2>
    <form th:action="@{/models/create}" th:method="POST" th:object="${createModelDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="brandName">Brand name</label>
                <input th:field="*{brandName}" th:errorclass="is-invalid" name="brandName"
                       id="brandName" type="text" class="form-control" rows="3" placeholder="Enter brand name">
                <p class="errors alert alert-danger invalid-feedback">
                    Brand name is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="brandName">Model name</label>
                <input th:field="*{name}" th:errorclass="is-invalid" name="name"
                       id="name" type="text" class="form-control" rows="3" placeholder="Enter model name">
                <p class="errors alert alert-danger invalid-feedback">
                    Model name is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="category">Category</label>
                <select th:errorclass="is-invalid" id="category" name="category" class="form-control">
                    <option value="">- Select category type -</option>
                    <option th:each="c : ${T(tu.carshop.enums.Category).values()}"
                            th:text="${c}" th:value="${c}" th:selected="${c} == *{category}">Category type
                    </option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Category type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="imageURL">Image URL</label>
                <input th:field="*{imageURL}" th:errorclass="is-invalid" name="imageURL"
                       id="imageURL" type="url" class="form-control"
                       placeholder="Put vehicle image URL here">
                <p class="errors alert alert-danger invalid-feedback">
                    Vehicle image URL is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="startYear" class="text-white font-weight-bold">Year</label>
                <input th:field="*{startYear}" th:errorclass="is-invalid" name="startYear"
                       id="startYear" type="date" min="1900" max="2099" step="1" class="form-control"
                       placeholder="Start year"/>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="endYear" class="text-white font-weight-bold">Year</label>
                <input th:field="*{endYear}" th:errorclass="is-invalid" name="endYear"
                       id="endYear" type="date" min="1900" max="2099" step="1" class="form-control"
                       placeholder="End year"/>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Create"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>
